html{
	font-family: Helvetica, sans-serif;
	background: url("https://images.pexels.com/photos/593158/pexels-photo-593158.jpeg?cs=srgb&dl=abstract-architecture-building-exterior-593158.jpg&fm=jpg");
	background-size: cover;
	background-repeat: repeat-y;
}
.menu{
	height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.menu a{
	text-decoration: none;
}

.menu a li{
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.menu a li:hover{
  background-color: #f1f1f1;
  color: black;
}
.menu .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#footer{
	position: fixed;
	top:5%;
	right: 1%;
}
#footer a{
	text-decoration: none;
	padding: 10px;
	background-color: black;
	color: white;
	filter: blur(2px);
	transition: filter 0.2s;
}
#footer a:hover{
	filter: none;
}

@keyframes goToRight{
	from{margin-left: 5%;}
	to{margin-left: 20%; opacity: 0;}
}

@keyframes comesFromRight{
	from{margin-left: 20%; opacity: 0;}
	to{margin-left: 5%; opacity: 1;}
}



#content{
	display: inline-block;
	margin: 5%;
	color: white;
	animation-name: comesFromRight;
	animation-duration: 0.3s;
}

#content .panel-body{
	color: black;
}
#content input, textarea{
	color: black;
	margin: 5px;
	resize: none;
}
#content input[type=submit]{
	padding: 5px;
	color: white;
	background-color: transparent;
	border: 1px solid white;
	transition: background-color 0.3s;
}
#content input[type=submit]:hover{
	color: black;
	background-color: white;
}
