
/* VARIABLES CSS */

:root {
	--blue-color: #383549;
	--grey-color: #6D6659;
	--yellow-color: #E8D6A7;
	--orange-color: #EFA267;
	--green-color: #ACB57C;
}



/* ANIMATIONS */
@keyframes goToRight{
	from{margin-left: 5%;}
	to{margin-left: 20%; opacity: 0;}
}






/* PAGE BIENVENUE */
IMG.displayed {
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto 
}

}
.connexionInMenu input[type=submit]:hover{
	color: white;
	background-color: var(--orange-color);
	border-color: var(--orange-color);
}
.error{
	color: red;
}





/* INSCRIPTION CSS */
.inscription input[type=radio],
.inscription input[type=checkbox]{
	width: auto;
	margin: 8px;
}
.inscription{
	width: 40%;
	padding: 3%;
	margin: auto;
	background-color: #AAA;
}

