/* VARIABLES CSS */

:root {
	--blue-color: #383549;
	--grey-color: #6D6659;
	--yellow-color: #E8D6A7;
	--orange-color: #EFA267;
	--green-color: #7CB588;
}

/* ANIMATION */
@keyframes comesFromRight{
	from{padding-left: 25%; opacity: 0;}
	to{padding-left: 5%; opacity: 1;}
}


html, body{
	margin: 0;
	padding: 0;
}
html{
	font-family: Helvetica, sans-serif;
	background: url("https://images.pexels.com/photos/593158/pexels-photo-593158.jpeg?cs=srgb&dl=abstract-architecture-building-exterior-593158.jpg&fm=jpg");
	background-size: cover;
	background-repeat: repeat-y;
}
header{
	margin: 0;
	padding: 10px;
	text-align: center;
	color: white;
	background-color: var(--blue-color);
}




/* BANDEAU MENU CSS */
.bandeauMenu{
	margin: 0;
	padding: 0;
	overflow: hidden;
	top:0;
	position: sticky;
	font-size: 30px;
	color: white;
	background-color: var(--blue-color);
}
.bandeauMenu span, .bandeauMenu div a{
	padding: 10px;
}
.bandeauMenu span{
	cursor: pointer;
	float: left;
	transition: 0.3s;
}
.bandeauMenu span:hover{
	background-color: var(--yellow-color);
	color: black;
}
.bandeauMenu div{
	float: right;
}
.bandeauMenu div a{
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: white;
	transition: 0.3s;
}
.bandeauMenu div a:hover{
	background-color: var(--yellow-color);
	color: black;
}
.bandeauMenu i{
	font-size: 15px;
	margin-left: 10%;
	bottom: 5px;
	position: absolute;
	text-align: center;
	float: left;
}





/* MENU GAUCHE CSS*/
.menu{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--yellow-color);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
.menu a{
	text-decoration: none;
}

.menu a li{
	padding: 8px 8px 8px 32px;
	font-size: 25px;
	color: var(--blue-color);
	display: block;
	transition: 0.3s;
}
.menu a li:hover{
	background-color: var(--orange-color);
	color: white;
}
.menu .closebtn{
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
.closebtn{
	transition: 0.4s;
}
.closebtn:hover{
	color: white;
}
#selected-element{
	text-decoration: underline;
}






/* FOOTER CSS */
#footer{
	position: fixed;
	top:5%;
	right: 1%;
}
#footer a{
	text-decoration: none;
	padding: 10px;
	background-color: black;
	color: white;
	filter: blur(2px);
	transition: filter 0.2s;
}
#footer a:hover{
	filter: none;
}





/* CONTENT CSS */
.content{
	text-align: center;
	padding: 3%;
	color: white;
	animation-name: comesFromRight;
	animation-duration: 0.3s;
	margin: auto;
	width: 95%;
}

.content .panel-body{
	color: black;
}
.content input,
.content textarea,
.content table{
	margin: 5px 0;
	resize: none;
	width: 100%;
}
.content input[type=submit]{
	padding: 5px;
	color: white;
	background-color: transparent;
	border: 1px solid white;
	transition: background-color 0.3s;
}
.content input[type=submit]:hover{
	color: black;
	background-color: white;
}







/* FORMULAIRE NOUVEAU QUESTIONNAIRE  */
.newQuestionnaire{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 700px;
	padding: 30px;
	color: black;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}



#date{
	width: 50%;
}
.newQuestionnaire td{
padding: 0px;
margin-right: 10px;
}
.newQuestionnaire select{
	margin: 10px;
}


.newQuestionnaire input[type="text"]:focus,
.newQuestionnaire input[type="email"]:focus,
.newQuestionnaire input[type="password"]:focus,
.newQuestionnaire input[type="date"]:focus,
.newQuestionnaire input[type="datetime"]:focus,
.newQuestionnaire input[type="time"]:focus,
.newQuestionnaire select:focus,
.newQuestionnaire textarea:focus{
	border: 3px solid #555;
}

.newQuestionnaire input[type="text"],
.newQuestionnaire input[type="email"],
.newQuestionnaire input[type="number"],
.newQuestionnaire input[type="search"],
.newQuestionnaire input[type="url"],
.newQuestionnaire input[type="password"],
.newQuestionnaire textarea,.newQuestionnaire input[type="time"],
.newQuestionnaire input[type="date"],
.newQuestionnaire input[type="datetime"],
.newQuestionnaire select
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: 3px solid #ccc;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.newQuestionnaire textarea{
	resize:none;
	overflow: hidden;
	height: 100px;
}
.newQuestionnaire input[type="button"],
.newQuestionnaire input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px var(--orange-color);
	-webkit-box-shadow: inset 0px 1px 0px 0px var(--orange-color);
	box-shadow: inset 0px 1px 0px 0px var(--orange-color);
	background-color: var(--orange-color);
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.newQuestionnaire input[type="button"]:hover,
.newQuestionnaire input[type="submit"]:hover {
	background:linear-gradient(to bottom, var(--orange-color) 10%, var(--yellow-color));
	background-color:var(--orange-color);
}
.entete{
	background: #4D4D4D;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #797979;
	font-size: 10px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.entete h2{
	margin:auto;
}
.titreVisi{
	width: 100%;
	display: inline-block;

}
.titre, .visi, .dispo{
	display: inline-block;
	padding: 10px;
	text-align: left;
}
.titre{
	width: 50%;
	float: left;
}
.visi{
	width: 50%;
	float: right;
	margin: auto;
}
.visit input[type="text"]{
	width: 150%;
}
.dispo{
	width: 100%;
}
.dispo input[type="date"],.dispo input[type="time"]{
	width: 80%;
}
.dispo #titre {
	display: inline-block;


}
.dispo #ouv{
	float:left;
}
.dispo #ferm{
	float:right;
}
.unQuestionnaire{
	padding: 1%;
	margin: 1%;
	background-color: var(--blue-color);
	color: white;
	text-align: left;
	border: 3px solid var(--blue-color);
	transition: 0.3s;
}
.unQuestionnaire:hover{
	border-color: var(--yellow-color);
}
