header{
	text-align: center;
	color: white;
}
.error{
	color: red;
}
.eleve, .enseignant{
	visibility: collapse;
}
IMG.displayed {
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto 
}
.bandeauMenu{
	margin: 0;
  padding: 0;
  overflow: hidden;
	top:0;
	position: sticky;
	font-size: 30px;
	color: white;
	background-color: black;
}
.bandeauMenu span{
	cursor: pointer;
}
.bandeauMenu div{
	float: right;
}
.bandeauMenu div a{
	display: block;
	text-decoration: none;
	color: white;
	transition: 0.5s;
}
.bandeauMenu div a:hover{
	background-color: white;
	color: black;
}
